<a title="{{ _('OctoFarm')|edq }}" class="pull-right" href="{{ plugin_octofarm_companion_url|escape }}">
    <img src="{{ plugin_octofarm_companion_of_favicon|escape }}" style="max-width: 20px"> OctoFarm
</a>
