<a title="{{ _('OctoFarm')|edq }}" class="pull-right" href="{{ plugin_octofarm_companion_url|escape }}">
    <img src="http://localhost:4000/favicon.ico" alt="OctoFarm server" style="max-width: 20px"> OctoFarm
</a>
